#audit-header-wrap { background:url(../images/bg-audit-trail-top.png) top left no-repeat; height:30px; position:relative; width: 283px; }
h3.audit-sp { color: #fff; line-height: 30px; padding-left: 30px; }
#email-content.new-message .section label.l-audit { width:90px; }
#email-content.new-message .section input.txt.t-audit, #email-content.new-message .section select {  }
#email-content.new-message .section input.txt.t-audit.has-dp { }
#email-content.new-message .section input.txt.t-audit-wide {  }
#email-content.new-message .section span.error-audit { margin:0 0 0 90px; }
#audit-btn {margin:10px 0 0 100px; overflow:hidden;}
#audit-btn ul li { display: inline; float: left; list-style: none; margin: 0; padding: 0; position: relative; text-align: center; }
#audit-btn ul li a { background: url(../images/bg-audit-btn.png) 0 0 no-repeat; width: 92px; height: 30px; display: block; float: left; line-height: 30px; margin: 0 10px 0 0; text-align: center; font-weight: normal; font-size: 12px; color: #3c3c3c; }
#audit-btn ul li#btn-audit-search a, #audit-btn ul li#btn-audit-reset a, #audit-btn ul li#btn-audit-export a { background-position: 0 0; }
#audit-btn ul li#btn-audit-search a:hover, #audit-btn ul li#btn-audit-reset a:hover, #audit-btn ul li#btn-audit-export a:hover { background-position: 0 -30px; }

img.ui-datepicker-trigger { cursor: pointer; }
table#audit-table-top, table#audit-table-btm { margin: 0 auto; }
div#audit-table-container-top { background-color: #45484c; padding:0 15px }
div#audit-table-container-btm { margin:20px 0; padding:0 20px}

table#audit-table-top { color: #fff; width:100%; margin:0 auto; }
table#audit-table-btm { background-color: #fff; width: 100%; margin:0 auto; }
table#audit-table-btm tr {  }
table#audit-table-btm tr td { padding: 15px 10px; border-bottom: 1px solid #dcdcdc;}
table#audit-table-top th, table#audit-table-btm td { vertical-align: middle; height:20px; text-align:left;}

table#audit-table-top th {padding:10px;}
