div#node-buttons
{
    /*display:inline;*/
    position:relative;
    /*left:20;
    top:-100;
    background-color:green;*/
    width:80;
    height:20;
    z-index:1001;
    
}

#node-buttons a
{
    z-index:1001;
    text-decoration:none;
    background-color:yellow;
}

#node-buttons img
{
    border:none;
}
div#cover
{
 z-index:1000;
 position:absolute;
 left:0;
 top:0;
 width:100%;
 height:100%;
/* 
 background-color:gray;
 zoom: 1;
filter: alpha(opacity=10);
opacity: 0.1;   
*/
}
