/**** RESET CSS ****/
@import url("reset.css");

/**** BASE ****/
html, body {overflow:hidden;}
body {font:13px/18px Arial, Helvetica, sans-serif; color:#3c3c3c; margin:0; padding:0;}
/*body {background:url(../images/bg-body.png) repeat-y scroll left top; font:13px/18px Arial, Helvetica, sans-serif; color:#3c3c3c; margin:0; padding:0;} */
ul, ol, dl, p, table { margin:0 0 15px 0; padding:0; font-size:12px; }
h1, h2, h3, h4, h5, h6, iframe { margin:0 0 15px 0; padding:0; }
a img { border:none; }
a:link, a:visited { color:#cd3d3d; text-decoration:none; }
a:hover, a:active, a:focus { color:#000; }
strong {font-weight:bold;}
em {font-style:italic;}
small {font-size:11px;}

/**** HEADINGS ****/
h1, h2, h3, h4, h5, h6 {}

/**** BULLET LIST ****/
ul li {list-style:disc; padding:0 0 3px 10px;}
ol li {list-style:decimal; padding:0 0 3px 10px;}

/**** CUSTOM FONT ****/
@font-face {
	font-family: 'Conv_HelveticaNeueLTStd-Md';
	src: url('fonts/HelveticaNeueLTStd-Md.eot');
	src: local('☺'), url('fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-Md.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaNeueLTStd-Roman';
	src: url('fonts/HelveticaNeueLTStd-Roman.eot');
	src: local('☺'), url('fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**** COLUMN ****/
#wrapper {min-width:1020px; width:auto!important; width:1020px;}
.col-wrap {}
.col-left {float:left; width:220px;}
.col-middle {float:left; width:350px;}
.col-right { width:auto}
#buttons-right.col-middle {float:left; width:558px;}
#buttons {z-index:99}
#content {z-index:9; clear:both;}
.col-right .buttons {float:right}

.col-right.gradient {background:#f7f7f7 url(../images/bg-gradient.png) top left repeat-x; }
.col-right.gradient .content-wrap {background:#fff url(../images/bg-content_wrap.png) bottom left repeat-x; border:1px solid #d6d6d6; padding:20px;}
.col-right.gradient .content-wrap.twocol {overflow:hidden;}
.col-right.gradient #session-content {padding:15px 25px;}
.col-right.gradient .content-wrap.twocol .col {float:left; width:46%; margin:0 2% 0 0; padding:0; border-right:1px solid #d6d6d6;}
.col-right.gradient .content-wrap.twocol .col.last {border:none;}

/**** HEADER ****/
#header {background:#141516 url(../images/bg-header.png) top left repeat-x; height:70px; overflow:hidden;}
#header #logo {padding:10px 0 0 15px; float:left;}
#header #top-section {float:right; margin:0 15px 0 0;}
#header #top-section p {margin-top:8px;}
#header #top-section p,
#header #top-section ul li a {font-family:'Conv_HelveticaNeueLTStd-Md', sans-serif; text-transform:uppercase; font-weight:normal; font-size:10px; color:#fff; float:left;}
#header #top-section ul {float:left; margin:0;}
#header #top-section ul li {float:left; display:inline;}
#header #top-section ul li a {display:block; float:left; margin:0; text-align:center; height:30px; line-height:30px; margin-top:2px;}
#header #top-section ul li a#admin {background:url(../images/bg-admin_menu.png) top center no-repeat; width:94px;}
#header #top-section ul li a#logout {background:url(../images/bg-logout_menu.png) top center no-repeat; width: 85px;}
#header #top-section ul li a img {vertical-align:middle; margin:0 5px 1px 0;}

/**** BUTTONS ****/
#buttons {background:url(../images/bg-middle.png) top left no-repeat; margin-top:-30px; height:68px;}
#buttons .col-middle {height:58px; padding-top:10px;}
#buttons .col-right {height:58px; padding-top:10px; padding-left:11px;}
#buttons ul {margin:0; padding:0;}
#buttons ul li {margin:0; padding:0; list-style:none; float:left; display:inline;  text-align:center; position:relative;}
#buttons ul li a {background:url(../images/bg-buttons.png) 0 0 no-repeat; width:31px; height:30px; display:block; float:left; margin:0 12px 0 13px; text-align:center; font-family:'Conv_HelveticaNeueLTStd-Md', sans-serif; text-transform:uppercase; font-weight:normal; font-size:10px; color:#525252; text-indent:-9999px;}
#buttons ul li span {display:block; margin:33px auto 0; text-align:center; font-family:'Conv_HelveticaNeueLTStd-Md', sans-serif; text-transform:uppercase; font-weight:normal; font-size:10px;}
#buttons ul li a:hover { color:#cd3d3d;}
#buttons ul li#btn-new a:hover {background-position:0 -30px;}

#buttons ul li#btn-delete a {background-position:-31px 0;}
#buttons ul li#btn-delete a:hover {background-position:-31px -30px;}

#buttons ul li#btn-mark a {background-position:-62px 0; width:57px;}
#buttons ul li#btn-mark a:hover {background-position:-62px -30px;}

#buttons ul li#btn-print a {background-position:-119px 0;}
#buttons ul li#btn-print a:hover {background-position:-119px -30px;}

#buttons ul li#btn-release a {background-position:-150px 0;}
#buttons ul li#btn-release a:hover {background-position:-150px -30px;}

#buttons ul li#btn-reject a {background-position:-181px 0;}
#buttons ul li#btn-reject a:hover {background-position:-181px -30px;}

#buttons ul li#btn-action a {background-position:-212px 0;}
#buttons ul li#btn-action a:hover {background-position:-212px -30px;}

#buttons ul li#btn-reply a {background-position:-243px 0; width:57px;}
#buttons ul li#btn-reply a:hover {background-position:-243px -30px;}

#buttons ul li#btn-forward a {background-position:-300px 0; width:57px; margin-left:0;  margin-right:0;}
#buttons ul li#btn-forward a:hover {background-position:-300px -30px;}

#buttons ul li#btn-address {float:right; margin-right:15px;}
#buttons ul li#btn-address a {background-position:-357px 0; margin-left:25px;}
#buttons ul li#btn-address a:hover {background-position:-357px -30px;}

#buttons ul li#btn-nondeliver a {background-position:-388px 0; width:57px}
#buttons ul li#btn-nondeliver a:hover {background-position:-388px -30px;}

#buttons ul li#btn-mmreply a {background-position:-300px 0; width:57px;}
#buttons ul li#btn-mmreply a:hover {background-position:-300px -30px;}

#buttons ul li#btn-addunit a {background-position:-569px 0;}
#buttons ul li#btn-addunit a:hover {background-position:-569px -30px;}

#buttons ul li#btn-addappointment {margin-left:30px;}
#buttons ul li#btn-addappointment a {background-position:-600px 0; margin-left:35px; }
#buttons ul li#btn-addappointment a:hover {background-position:-600px -30px;}

#buttons ul li#btn-addaddresslist {margin-left:30px;}
#buttons ul li#btn-addaddresslist a {background-position:-600px 0; margin-left:30px; }
#buttons ul li#btn-addaddresslist a:hover {background-position:-600px -30px;}

#buttons ul li .btn-drop {position:absolute; top:30px; padding:0; z-index:9999; background:#d0d0d0 url(../images/bg-dropdown.png) 0 0 repeat-x; left:15px; border:1px solid #b7b7b6; display:none;-webkit-box-shadow: inset 0px 0px 1px 1px #ffffff;
box-shadow: inset 0px 0px 1px 1px #ffffff; -webkit-border-radius: 0px 0px 5px 5px;border-radius: 0px 0px 5px 5px;  }
#buttons ul li .btn-drop span {display:block; margin:0; text-align:left; padding:0;}
#buttons ul li .btn-drop a {font-family:'Conv_HelveticaNeueLTStd-Md', sans-serif; text-transform:uppercase; font-weight:normal; font-size:10px; text-indent:0; margin:0; height:25px; width:45px!important; text-align:left; padding:5px 10px 0; background:url(../images/bg-dropdown_sep.png) left top repeat-x!important;}
#buttons ul li .btn-drop a:hover {background:url(../images/bg-dropdown_sep.png) left top repeat-x!important;}
#buttons ul li .btn-drop * {z-index:9999;}
#buttons ul li .btn-drop a.first {background:none!important;}

#buttons ul li#btn-reply .btn-drop a {width:75px!important;}
#buttons ul li#btn-forward .btn-drop{left:0;}
#buttons ul li#btn-forward .btn-drop a,
#buttons ul li#btn-mmreply .btn-drop a {width:95px!important;}

#buttons ul li#btn-addsession a {background-position:-388px 0; width:31px;}
#buttons ul li#btn-addsession a:hover {background-position:-388px -30px;}

#buttons ul li#btn-send a {background-position:-662px 0;}
#buttons ul li#btn-send a:hover {background-position:-662px -30px;}

#buttons ul li#btn-save a {background-position:-693px 0;}
#buttons ul li#btn-save a:hover {background-position:-693px -30px;}

#buttons ul li#btn-discard a {background-position:-31px 0;}
#buttons ul li#btn-discard a:hover {background-position:-31px -30px;}

#buttons ul li#btn-attach a {background-position:-724px 0; width:57px;}
#buttons ul li#btn-attach a:hover {background-position:-724px -30px;}

#buttons ul li#btn-opennewwindow {float:right; margin-right:15px;}
#buttons ul li#btn-opennewwindow a {background-position:-781px 0; margin-left:45px;}
#buttons ul li#btn-opennewwindow a:hover {background-position:-781px -30px;}

/*** COLLAPSE ***/
.collapse a {background:url(../images/btn-collapse.png) no-repeat; width:15px; height:15px; display:block; text-indent:-9999px; float:left; margin:0 8px 0 0;}
.collapse a.active {background-position:bottom;}
#email-content .collapse a {margin-left:8px; margin-top:8px;}
.collapse-box {width:0!important;}

/**** MAILBOX LIST ****/
#mailbox {background:#3b3d41; overflow-x:hidden; position:relative;}
#mailbox h2 {font-family:'Conv_HelveticaNeueLTStd-Md', sans-serif; text-transform:uppercase; font-weight:normal; font-size:12px; color:#fff; margin:10px; text-align:left;}

#mailbox #message-icon {margin:0 0 10px 0; overflow:hidden;  border-top:2px solid #343434; padding-top:10px;}
#mailbox #message-icon li {list-style:none; display:block; margin:0; padding:0; float:left;  text-align:center; width:33.33%;}
#mailbox #message-icon li img {vertical-align:middle;}
#mailbox #message-icon li img,
#mailbox #message-icon li span {display:block; color:#fff; text-align:center; margin:5px auto;}

#mailbox ul#mailbox-list img.icon {vertical-align:middle; margin-left:-2px; margin-top:-2px}

#mailbox ul#mailbox-list {margin:0; display:block;}
#mailbox ul#mailbox-list ul {list-style:none; display:none; margin:0; }
#mailbox ul#mailbox-list ul li {list-style:none; background:none; display:block;}
#mailbox ul#mailbox-list ul li a {background:#303030; border-top:1px solid #262626;}
#mailbox ul#mailbox-list li {margin:0; padding:0; font-size:13px; font-weight:normal; display:block;  }
#mailbox ul#mailbox-list li div {background:url(../images/bg-mailbox_arrow.png) 15px 15px no-repeat;}
#mailbox ul#mailbox-list li div.open {background:#cd3d3d url(../images/bg-mailbox_arrow_down.png) 15px 15px no-repeat;}

#mailbox ul#mailbox-list li div:hover {background:#cd3d3d url(../images/bg-mailbox_arrow.png) 15px 15px no-repeat;}

#mailbox ul#mailbox-list li div.open:hover {background:#cd3d3d url(../images/bg-mailbox_arrow_down.png) 15px 15px no-repeat;}

#mailbox ul#mailbox-list li a {display:block; border-top:1px solid #343434; padding:9px 0 9px 30px; color:#fff; overflow:hidden;}
#mailbox ul#mailbox-list li ul li a:hover {background:#cd3d3d;}

#mailbox ul#mailbox-list li span.counter {display:block; padding:0 7px; text-align:center; background:#6c6c6c; float:right; margin:0 10px 0 0; border-radius: 5px; border:1px solid #5f5f5f; font-size:12px; height:20px; line-height:20px;}
#mailbox ul#mailbox-list li div:hover span.counter,
#mailbox ul#mailbox-list li a:hover span.counter,
#mailbox ul#mailbox-list li div.open span.counter {background:#992424!important; border:1px solid #872020!important;}

#mailbox ul#mailbox-list li span.icon {background:url(../images/bg-mailbox_icon.png) 0 0 no-repeat; display:block; width:16px; height:15px; float:left; margin-top:0px;}
#mailbox ul#mailbox-list li strong {font-weight:normal; float:left; margin:0 0 0 10px;}

#mailbox ul#mailbox-list li#inbox div:hover span.icon {background-position:0 -15px}

#mailbox ul#mailbox-list li#draft span.icon {background-position:-18px 0; width:14px;}
#mailbox ul#mailbox-list li#draft div:hover span.icon {background-position:-18px -15px;}

#mailbox ul#mailbox-list li#sent span.icon {background-position:-32px 0;}
#mailbox ul#mailbox-list li#sent div:hover span.icon {background-position:-32px -15px;}

#mailbox ul#mailbox-list li#trash span.icon {background-position:-49px 0;}
#mailbox ul#mailbox-list li#trash div:hover span.icon {background-position:-49px -15px;}

#mailbox ul#mailbox-list li#templates span.icon {background-position:-79px 0; width:14px;}
#mailbox ul#mailbox-list li#templates div:hover span.icon {background-position:-79px -15px;}

#mailbox ul#mailbox-list li#objectives span.icon {background-position:-65px 0; width:13px;}
#mailbox ul#mailbox-list li#objectives div:hover span.icon {background-position:-65px -15px;}

#mailbox ul#folder-list {margin:0;}
#mailbox ul#folder-list li {margin:0; padding:0; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; display:block;  }
#mailbox ul#folder-list li a {display:block; border-top:1px solid #343434; padding:9px 0 9px 15px; color:#fff; overflow:hidden;}
#mailbox ul#folder-list li a:hover {background:#cd3d3d;}
#mailbox ul#folder-list li ul li a:hover {background:#cd3d3d;}
#mailbox ul#folder-list li span.icon {background:url(../images/bg-mailbox_icon.png) -93px 1px no-repeat; display:block; width:13px; height:16px; float:left;}
#mailbox ul#folder-list li strong {font-weight:normal; float:left; margin:0 0 0 10px;}

#mailbox ul#precedence-list {margin:0;}
#mailbox ul#precedence-list li {margin:0; padding:0; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; display:block;  }
#mailbox ul#precedence-list li a {display:block; border-top:1px solid #343434; padding:9px 0 9px 15px; color:#fff; overflow:hidden;}
#mailbox ul#precedence-list li a:hover {background:#cd3d3d;}
#mailbox ul#precedence-list li ul li a:hover {background:#cd3d3d;}
#mailbox ul#precedence-list li span.icon {background:url(../images/bg-mailbox_precedence.png) 0 0 no-repeat; display:block; width:16px; height:23px; float:left;}
#mailbox ul#precedence-list li strong {font-weight:normal; float:left; margin:0 0 0 10px;}

#mailbox ul#precedence-list li#flash span.icon {}
#mailbox ul#precedence-list li#immediate span.icon {background-position:-17px 0;}
#mailbox ul#precedence-list li#priority span.icon {background-position:-34px 0;}
#mailbox ul#precedence-list li#routine span.icon {background-position:-51px 0;}

#mailbox #left-menu {margin:0; padding:0 0 20px 0;}
#mailbox #left-menu li {margin:0; padding:0; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; display:block; position:relative; }
#mailbox #left-menu li a {display:block; border-top:1px solid #343434; padding:9px 0 9px 15px; color:#fff; overflow:hidden; background:#3b3d41l}
#mailbox #left-menu li a:hover,
#mailbox #left-menu li.current a {background:#343539; color:#8a8c97;}
#mailbox #left-menu li span.badges {position:absolute; right:10px; top:7px; background:#b51218; color:#fff; font-weight:bold; border-radius:10px; padding:0 10px; text-align:center; border:2px solid #fff; height:20px; -webkit-box-shadow:  3px 3px 10px 0px #000;box-shadow:  3px 3px 10px 0px #000;}

#mailbox #left-menu-collapse {margin:20px auto 0; text-align:center;}
#mailbox #left-menu-collapse a {display:block; margin:0 auto; width:30px;}

/*** Multilevel ***/
#mailbox ul#mailbox-list.multilevel li {margin:0; padding:0;}
#mailbox ul#mailbox-list.multilevel li a {padding-left:30px; background:url(../images/bg-mailbox_arrow.png) 15px 15px no-repeat;}
#mailbox ul#mailbox-list.multilevel ul li a {background:#303030 url(../images/bg-mailbox_arrow.png) 25px 15px no-repeat; border-top:1px solid #262626; padding-left:40px;}
#mailbox ul#mailbox-list.multilevel ul ul li a {padding-left:50px; background:#4f4d4d url(../images/bg-mailbox_arrow.png) 35px 15px no-repeat;}
#mailbox ul#mailbox-list.multilevel ul ul ul li a {padding-left:60px; background:#757575 url(../images/bg-mailbox_arrow.png) 45px 15px no-repeat;}
#mailbox ul#mailbox-list.multilevel li a:hover {background:#cd3d3d url(../images/bg-mailbox_arrow.png) 15px 15px no-repeat;;}
#mailbox ul#mailbox-list.multilevel ul li a:hover {background:#cd3d3d url(../images/bg-mailbox_arrow.png) 25px 15px no-repeat;}
#mailbox ul#mailbox-list.multilevel ul ul li a:hover {background:#cd3d3d url(../images/bg-mailbox_arrow.png) 35px 15px no-repeat;}
#mailbox ul#mailbox-list.multilevel ul ul ul li a:hover {background:#cd3d3d url(../images/bg-mailbox_arrow.png) 45px 15px no-repeat;}
#mailbox ul#mailbox-list.multilevel.open li a {background:#cd3d3d url(../images/bg-mailbox_arrow.png) 15px 15px no-repeat;;}
#mailbox ul#mailbox-list.multilevel ul li a.open {background:#cd3d3d url(../images/bg-mailbox_arrow.png) 25px 15px no-repeat;}
#mailbox ul#mailbox-list.multilevel ul ul li a.open {background:#cd3d3d url(../images/bg-mailbox_arrow.png) 35px 15px no-repeat;}
#mailbox ul#mailbox-list.multilevel ul ul ul li a.open {background:#cd3d3d url(../images/bg-mailbox_arrow.png) 45px 15px no-repeat;}

/**** EMAIL LIST ****/
#email-list-wrap { border-right:1px solid #DADADA; overflow: hidden; position:relative;}
#email-search {border-bottom:1px solid #dadada; padding:8px 10px; overflow:hidden; position:relative;}
#email-search form { overflow:hidden;}
#email-search form input#search-inbox {background:url(../images/bg-search.png) top left no-repeat; height:18px; width:230px; padding:5px 5px 5px 25px; border:none; color:#525252; font-size:12px; float:left;}
#email-search form a.remove {background:url(../images/bg-search_remove.png) top right no-repeat; width:20px; height:28px; position:absolute; right:45px; top:13px; display:none;}
#email-search form span.search-right {background:url(../images/bg-search.png) top right no-repeat; width:20px; height:28px; display:block; float:left; margin-left:-2px;}
#email-search form #advance-search-button {float:right; display:block; vertical-align:middle; margin-top:3px;}
#email-search form #advance-search {display:none;}
#email-search form #advance-search ul {list-style:none; margin:10px 0; padding:0; overflow:hidden;}
#email-search form #advance-search ul li {list-style:none; display:inline; float:left; padding:0; width:23%; margin: 0 1%;}
#email-search form #advance-search ul li a {display:block; float:left; background:#efecf4; padding:2px 0; color:#3c3c3c; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal; text-transform:uppercase; margin:0; border-radius: 5px; font-size:12px; width:100%; text-align:center;}
#email-search form #advance-search ul li a:hover {color:#efecf4; background:#3c3c3c;}
#email-search form #advance-search span {display:block; float:left; width:32%;margin:0 2% 0 0;}
#email-search form #advance-search span select,
#email-search form #advance-search span input {width:100%; padding:3px 0 2px; border:1px solid #ccc; background:#fff; height:20px;}
#email-search form #advance-search span select {height:25px; font-size:12px;}
#email-search form #advance-search span input {width:98%;}
#email-search form #advance-search span a.btn {float:left; margin:0 5px 0 0;}
#email-search form #advance-search span a.btn img {margin:8px 0 0 0;}
#email-search form #advance-search span.last {padding-top:15px; margin:0;}
#email-search form #advance-search label {font-weight:bold; cursor:pointer; display:block;}
#email-search form #advance-search p {overflow:hidden; clear:both; margin:0 0 5px;}

#search-results {border:1px solid #ccc; background:#f2f2f2 url(../images/bg-search_results.png) top left repeat-x; position:absolute; top:40px; left:10px; width:300px; padding:0; z-index:9999;-webkit-box-shadow: 0px 0px 3px 1px #c9c9c9;
box-shadow: 0px 0px 3px 1px #c9c9c9; display:none;  }
#search-results .group {border-bottom:1px solid #ccc; padding:10px 0;}
#search-results ul {margin:0; padding:0;}
#search-results ul li {padding:0; margin:0; list-style:none;}
#search-results ul li a, 
#search-results strong {display:block; padding:5px 10px; color:#3C3C3C}
#search-results strong {color:#666;}
#search-results ul li a {padding-left:20px;}
#search-results ul li a:hover {background:#DFDFDF;}
#search-results ul li a span.highlight {font-weight:bold; color:#119fe9;}

#email-sort {padding:10px; position:relative;}
#email-sort p {margin:0;}
#email-sort p a {font-size:12px; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; color:#3c3c3c;}
#email-sort.three-col .col {font-size:11px;}
#email-sort .col {float:left; width:33.33%; font-size:12px; position:relative;}
#email-sort .col.last {float:right; text-align:right;}
#email-sort .col-arrow {background:url(../images/bg-arrow_down.png) right 5px no-repeat; padding-right:10px}
#email-sort .email-sort-options {background:#F2F2F2; border:1px solid #b7b7b6; position:absolute; top:30px; border-top:none; display:none; left:0; min-width:150px; width:auto!important; width:150px;}
#email-sort .col.last .email-sort-options {right:0; left:auto; text-align:left;}
#email-sort .email-sort-options ul {list-style:none;margin:0;padding:0;}
#email-sort .email-sort-options ul li {list-style:none; margin:0; padding:0;  background:url(../images/bg-dropdown_sep.png) left top repeat-x!important; width:100%;}
#email-sort .email-sort-options ul li.selected {}
#email-sort .email-sort-options ul li.selected a {background:url(../images/icon-selected.png) 10px center no-repeat; padding-left:25px;}
#email-sort .email-sort-options ul li a {display:block; padding:5px 10px; color:#525252; font-family:'Conv_HelveticaNeueLTStd-Md', sans-serif; text-transform:uppercase; font-weight:normal; font-size:10px; text-indent:0; margin:0;}
#email-sort .email-sort-options ul li a:hover {color:#CD3D3D;}

#email-list {overflow-x:hidden; clear:both;}
#email-list .date-bar {background:#f0f4f5; padding:10px; text-align:center; text-transform:uppercase; border-bottom:1px solid #dadada;}
#email-list .date-bar h2 {text-transform:uppercase; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; margin:0}
#email-list .email {border-bottom:1px solid #dadada; padding:10px 0 10px 10px; overflow:hidden; background:#fff; cursor: pointer; position:relative;}
#email-list .email:hover {background:#ccc url(../images/bg-email_hover.png);}
#email-list .email.selected {background:url(../images/bg-email_selected.png)!important;}
#email-list .email .email-icon {width:25px; float:left; min-height:50px; height:auto!important; height:50px;}
#email-list .email .email-summary {float:left; width:80%; }
#email-list .email .email-summary h3 {font-weight:normal; font-family: Arial, Helvetica, sans-serif; font-size:13px; margin:0 0 5px 0;}
#email-list .email .email-summary h3 a {color:#0a0505;}
#email-list .email .email-summary p.sender {margin:0; color:#858585; font-size:12px;}
#email-list .email .email-summary p.date {margin:0; color:#858585; font-size:12px; text-transform:uppercase;}
#email-list .email .email-precedence { float:right; width:25px;}


/* email icon */
#email-list .email.unread .email-summary h3 {font-weight:bold;}
#email-list .email.timer .email-summary h3 a {color:#fe0000;}
#email-list .email .email-icon .icon-status,
#email-list .email .email-icon .icon-attachment,
#email-list .email .email-precedence .icon-precedence {background:url(../images/bg-email_icon.png) no-repeat;margin:2px 0 8px;}

#email-list .email.reply .email-icon .icon-status {background-position:-18px 0; width:17px; height:16px; display:block; }
#email-list .email.forward .email-icon .icon-status {background-position:-37px 0; width:17px; height:16px; display:block; }
#email-list .email.release .email-icon .icon-status {background-position:-58px 0; width:12px; height:16px; display:block; }

#email-list .email.action.flash .email-icon .icon-status {background-position:-1px -23px; width:18px; height:18px; display:block; }
#email-list .email.action .email-icon .icon-status {background-position:-1px -42px; width:18px; height:18px; display:block; }

#email-list .email.attachment .email-icon .icon-attachment {background-position:0 0; width:17px; height:16px; display:block; }

#email-list .email.flash .email-precedence .icon-precedence {background-position:0 -73px; width:16px; height:23px; display:block; }
#email-list .email.immediate .email-precedence .icon-precedence {background-position:-17px -73px; width:16px; height:23px; display:block; }
#email-list .email.priority .email-precedence .icon-precedence {background-position:-34px -73px; width:16px; height:23px; display:block; }
#email-list .email.routine .email-precedence .icon-precedence {background-position:-51px -73px; width:16px; height:23px; display:block; }

#email-list .email.timer p.timer {background:#2d2d2d; padding:2px 4px; margin:0; display:inline; color:#fff; border-radius: 3px;}
#email-list .email.timer p.timer span { margin:0; padding:0 4px; letter-spacing:1px;}

/* #email-list .email .email-select {z-index:9999; position:absolute; bottom:10px; left:6px;}*/

/*REVIEW*/
/*
#email-list .email.last{background: red;}
#email-list .load-bar {
	background: white url('../images/loading.gif') no-repeat center 70px;
	height: 100%;
	border-top: 2px solid #DDD;
	z-index: 10;
	position: absolute;
	top: 85px;
	left: 0px;
	width: 100%;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
*/
#email-list .pagination {padding: 8px 0 25px;border-top: 3px solid #DDD;text-align: center;}
#email-list .pagination span a {border: 1px solid #BBB;text-align: center;padding:3px;}
#email-list .pagination span{margin: 0 5px;}
#email-list .pagination span.active a {background: #FC0;}
#email-list .ajax-msg {border: 1px solid #EEE;text-align: center;padding: 8px 0 25px;color:red;}

/*REVIEW*/

/**** EMAIL CONTENT ****/
#email-content {position:relative;}
/* Classification */
#email-content .classification {text-align:center; padding:5px 0;  background:#efecf4;}
#email-content .classification p {margin:5px 0; font-size:12px; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal;}
#email-content .classification p strong {font-weight:normal; font-size:16px;}
#email-content .classification.protected {background:#ffd800;}
#email-content .classification.confidential {background:#87e65d;}
#email-content .classification.secret {background:#f05f5f;}

/* Expiry */
#email-content .expiry {padding:15px 40px 15px;}
#email-content .expiry p {margin:0 0 5px 0;}
#email-content .expiry p a {font-weight:bold; text-decoration:underline; color:#3c3c3c;}
#email-content .expiry p a.rounded-box {display:block; float:right; background:#efecf4; padding:2px 5px; color:#3c3c3c; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal; text-transform:uppercase; margin:0 0 10px 10px; border-radius: 5px; font-size:12px; text-decoration:none; font-weight:normal;}

/* Subject */
#email-content .subject {background:#f0f4f5; padding:10px; text-align:center; border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;}
#email-content .subject h3 {margin:0; padding:0; font-size:14px; font-weight:normal; font-family:'Conv_HelveticaNeueLTStd-Md', sans-serif;}

/* Info */
#email-content .detail {padding:15px 20px 15px 40px;}
#email-content .detail .from,
#email-content .detail .action,
#email-content .detail .info,
#email-content .detail .subject-title {overflow:hidden; margin-bottom:5px;}
#email-content .detail .left {float:left; width:60px; font-size:12px;}
#email-content .detail .right {margin:0 20px 0 65px; font-size:12px; overflow:hidden; }
#email-content .detail ul {margin:0; padding:0; position:relative; z-index:999}
#email-content .detail ul li {list-style:none; margin:0 5px 5px 0; float:left; display:block; color:#3c3c3c; padding:0; white-space:nowrap; position:relative;}
#email-content .detail ul li.more {}
#email-content .detail ul li span.icon {background:url(../images/bg-email_icon.png) no-repeat; width:15px; height:15px; float:left; margin:2px 3px 0 0;}
#email-content .detail ul li.a span.icon {background-position:-28px -24px; display:block;}
#email-content .detail ul li.b span.icon {background-position:-28px -44px; display:block; width:12px; height:14px;}
#email-content .detail ul li.c span.icon {background-position:-59px -24px; display:block; width:16px; height:13px;}
#email-content .detail ul li.cyan a {background:#b0e2f0;}
#email-content .detail ul li.yellow a {background:#ffe8aa;}
#email-content .detail ul li.no-access a {color:#333;opacity: .5;}
#email-content .detail ul li.exempted a {background:#efecf4 url(../images/bg-info.png) right center no-repeat; padding-right:25px;}
#email-content .detail ul li a {display:block; float:left; background:#efecf4; padding:2px 8px; color:#3c3c3c; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal; text-transform:uppercase; margin:0; border-radius: 5px; font-size:12px; position:relative;}
#email-content .detail .originator {float:right; text-align:right;}
#email-content .detail .originator p {text-align:right; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal; font-size:13px; margin:0;}
#email-content .detail .originator p strong {font-family:'Conv_HelveticaNeueLTStd-Md', sans-serif; font-weight:normal;}
#email-content .detail .originator p span.sep img {vertical-align:middle; margin:0 8px}


#email-content .detail ul {overflow:hidden;}
#email-content .detail .hide {display:none;}
#email-content .detail .expand-arrow {color:#3C3C3C;background:url(../images/bg-arrow_from.png) right 8px no-repeat; display:block; width:50px; padding:2px 4px; margin:0; color:#3c3c3c; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal; border-radius: 5px; font-size:12px;}
#email-content .detail span.label {color:#3C3C3C;display:block; width:54px; padding:2px 4px; margin:0; color:#3c3c3c; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal; font-size:12px;}
#email-content .detail .expand-arrow:hover {background:#efecf4 url(../images/bg-arrow_from.png) right 8px no-repeat}
#email-content .detail .expand-arrow.down {background-position:right -35px;}
#email-content .detail ul li.verified a {background:#58a206 url(../images/bg-verified.png) 5px center no-repeat; padding-left:20px; color:#fff;}

#email-content .detail .precedence {float:right; display:inline; width:100px; text-align:right;}
#email-content .detail .precedence p {text-align:right; font-size:14px; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal;}
#email-content .detail .precedence span {display:block; background:url(../images/bg-email_icon.png) no-repeat; float:right; margin-left:10px; width:16px; height:23px;}
#email-content .detail .precedence strong {float:right; font-weight:normal; text-align:right;}
#email-content .detail .precedence span.flash {background-position:0 -73px;}
#email-content .detail .precedence span.immediate {background-position:-17px -73px;}
#email-content .detail .precedence span.priority {background-position:-34px -73px;}
#email-content .detail .precedence span.routine {background-position:-51px -73px;}

/* Subject Title */
#email-content .subject-title {border-top:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;}
#email-content .subject-title h4 {font-size:14px; margin:0; padding:0; padding:10px 20px 10px 40px;  font-family:'Conv_HelveticaNeueLTStd-Md', sans-serif; font-weight:normal;}
#email-content .subject-title .label a {display:block; float:right; background:#efecf4; padding:2px 5px; color:#3c3c3c; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal; text-transform:uppercase; margin:10px 20px; border-radius: 5px;}

/* Content */
#email-content .content {padding:15px 20px 5px 40px;}
#email-content .content .content-scroll {height:100px; background:#efecf4; border:1px solid #e5e4e7; color:#6a6a6a; font-size:11px;  overflow:auto; border-radius: 5px; margin:0 0 20px 0;}
#email-content .content .content-scroll * {font-size:11px;}
#email-content .content .content-scroll {padding:10px;}

/* Attachment */
#email-content .attachment {border-top:1px solid #dcdcdc; padding:15px 20px 15px 40px; overflow:hidden;}
#email-content .attachment div { background:url(../images/bg-attachment.png) 0 3px no-repeat; width: 25px; height: 25px; float:left;}
#email-content .attachment ul {margin:0; padding:0;}
#email-content .attachment ul li {list-style:none; margin:0 5px 5px 0; float:left; display:inline; color:3c3c3c; padding:0;}
#email-content .attachment ul li a {display:block; float:left; background:#efecf4; padding:2px 5px; color:#3c3c3c; font-family:'Conv_HelveticaNeueLTStd-Roman', Arial, Helvetica, sans-serif; font-weight:normal; margin:0; border-radius: 5px;}
#email-content .attachment ul li a span {color:#828282;}
#email-content .attachment a.download-zip {float:right; display:block; background:url(../images/bg-download.png) 0 50% no-repeat; padding-left:20px; color:#3c3c3c; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-rtl { direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* Drop down styles*/
div.selectbox-wrapper { position:absolute; overflow:auto; background:#fefefe; border:1px solid #dedede; border-radius:5px; border-top-left-radius:0; border-top-right-radius:0; width:241px; height:95px; padding:0; font:12px Arial, Helvetica, sans-serif; }
div.selectbox-wrapper ul { list-style-type:none; margin:0px; padding:0px; }
div.selectbox-wrapper ul li.selected { background-color: #191a1c!important; background-image:none; color:#fff!important; }
div.selectbox-wrapper ul li.current { background-color: #191a1c!important; color:#fff!important; }
div.selectbox-wrapper ul li { list-style-type:none; display:block; margin:0; padding:5px 3px!important; ; cursor:pointer; background-image:none!important; ; }
.selectbox { display : block; text-align:left; background:#efecf4 url(../images/bg-selectbox.png) right center no-repeat; cursor: pointer; border:1px solid #dedede; padding:5px; border-radius:5px; position:relative; width:212px; }

/* Restyle the calendar */
.ui-datepicker-header { background:#cd3d3d!important; color:#fff!important; border:1px solid #fff!important; }
.ui-state-hover, .ui-widget-header .ui-state-focus { border: 1px solid #cd3d3d!important; background: #fff!important; color: #212121/*{fcHover}*/; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background:#f8a1a1!important; border:1px solid #cd3d3d!important; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { border: 1px solid #cd3d3d!important; background: #fff!important; }
.ui-timepicker-div { padding:0 10px; }

/* Editor */
#editor-wrap {position:relative; background:url(../images/bg-editor.png) top left repeat-x; height:34px;}
#editor-wrap #advance-button,
#editor-wrap #advance-button {position:absolute; right:0; top:0; background:url(../images/bg-editor_advance_button_close.png) top left no-repeat; width:274px; height:30px;}
#editor-wrap #advance-button.close {background:url(../images/bg-editor_advance_button.png) no-repeat;}
#editor-wrap #advance-button a {display:block; color:#3c3c3c; height:30px; line-height:26px; text-align:center; margin:0;}

/**** Shared ****/
#page-header {background:url(../images/bg-page_header.png) top left no-repeat;height:47px;position:relative; width: 272px;}
#page-header h3 {color: #fff;line-height: 35px;padding-left: 30px; margin:0;}

/**** CLASSES ****/

.clear {clear:both; height:1px; line-height:1px;}

.load-bar {background: white url('../images/loading.gif') no-repeat center 5px;height: 25px;border-top: 2px solid #DDD;padding: 8px 0 25px;}
/*.load-bar-email {background: url("../images/loading.gif") no-repeat scroll center 5px transparent;height: 25px;margin: 0 auto;position: absolute;text-align: center;top: 50%;width: 100px; left:50%;z-index: 999; }*/
.load-bar-email {background: url("../images/loading.gif") no-repeat scroll center 5px transparent;height: 25px;margin: 35% auto;width: 100px;}
.btn {text-align:center; height:30px; line-height:30px; width:43px; background:url(../images/bg-btn_small.png) no-repeat 0 0; display:block; color:#3c3c3c!important;}
.btn:hover {background-position:0 -30px;}


/* Grey Buttons */
#content #btn-wrap {overflow:hidden;}
#content #btn-wrap ul li { display: inline; float: left; list-style: none; margin: 0; padding: 0; position: relative; text-align: center; }
#content #btn-wrap ul li a { background: url(../images/bg-audit-btn.png) 0 0 no-repeat; width: 92px; height: 30px; display: block; float: left; line-height: 30px; margin: 0 10px 0 0; text-align: center; font-weight: normal; font-size: 12px; color: #3c3c3c; }
#content #btn-wrap ul li a:hover{ background-position: 0 -30px; }

#content .btn-wrap {overflow:hidden;}
#content .btn-wrap ul li { display: inline; float: left; list-style: none; margin: 0; padding: 0; position: relative; text-align: center; }
#content .btn-wrap ul li a { background: url(../images/bg-audit-btn.png) 0 0 no-repeat; width: 92px; height: 30px; display: block; float: left; line-height: 30px; margin: 0 10px 0 0; text-align: center; font-weight: normal; font-size: 12px; color: #3c3c3c; }
#content .btn-wrap ul li a:hover{ background-position: 0 -30px; }
#content .btn-wrap.wide ul li a {background:url(../images/btn-grey.png) 0 0 no-repeat; width:132px;}
#content .btn-wrap.wide ul li a:hover {background-position:0 -30px;}